<p id="notice"><%= notice %></p>

<h1>Pkms</h1>

<%= form_tag pkms_path, method: 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :placeholder => 'comp_id' %>
      <%= submit_tag :'Search', :name => nil %>
    </p>
    <a type="button" class="btn" href="#test_modal" data-toggle="modal">Ajuda chaves geográficas</a>

<% end %>

<table>
  <thead>
  <tr>
    <th>Comp</th>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @pkms.each do |pkm| %>
      <tr>
        <td><%= pkm.comp_id %></td>
        <td><%= pkm.name %></td>
        <td><%= link_to 'Show', pkm %></td>
        <td><%= link_to 'Edit', edit_pkm_path(pkm) %></td>
        <td><%= link_to 'Destroy', pkm, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pkm', new_pkm_path %>

<h2>Import pkms</h2>

<%= form_tag import_pkms_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Import' %>
<% end %>

<script type="text/javascript">
    var mytextbox = document.getElementById('search');
    var mydropdown = document.getElementById('region_id');

    mydropdown.onchange = function () {
        mytextbox.value = assisted_search(this.options[this.selectedIndex].text);
    }

</script>