<p id="notice"><%= notice %></p>

<p>
  <strong>Ci pt:</strong>
  <%= @pt.ci_pt %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @pt.tipo %>
</p>

<%= link_to 'Edit', edit_pt_path(@pt) %> |
<%= link_to 'Back', pts_path %>
